.Posts {
  background-image: linear-gradient(315deg, #99a5b1 0%, #0c1222 74%);
  color: gold;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: xx-large;
  border: 1px solid brown;
  display: grid;
}

.fieldset {
  display: inline;
  background-color: rgb(255, 255, 255, 0.4);
  color: gold;
  border: 1px solid rgb(81, 0, 128);
  font-size: large;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.legend {
  font-size: 10px;
  color: silver;
}
.bodyPost {
  align-items: center;
  font-size: 14px;
  border-radius: 5px;
  display: inline;
  margin-left: 1px;
  margin-right: 1px;
}
.input {
  font-size: 14px;
  align-items: flex-end;
  color: silver;
  border: 1px solid #0000ff;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 200px;
  height: 20px;
  margin-right: 5px;
  margin-left: auto;
  background-color: inherit;
}
input:focus {
  background-color: none;
  outline: none;
}
input::placeholder {
  color: silver;
}

.select {
  display: inline-grid;
  background-color: rgb(255, 255, 255, 0.4);
  font-size: 14px;
  width: 105px;
  height: 30px;
  border: 1px solid rgb(81, 0, 128);
  border-radius: 5px;
  margin: 1px 1px 1px auto;
}

.buttonAdd {
  align-items: flex-end;
  font-size: 14px;
  background: none;
  background-color: rgb(255, 255, 255, 0.4);
  width: 105px;
  height: 30px;
  border: 1px solid green;
  border-radius: 5px;
  margin: 1px 1px 1px auto;
}

.buttonRem {
  align-items: flex-end;
  background: none;
  font-size: 10px;
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  margin: auto auto 1px 120px;
  padding: unset;
 
}
.title {
  color: rgb(81, 0, 128);
}

.task {
  height: 100px;
  display: contents;
}
.empty {
  font-size: 22px;
}
.messageBottom{
  color: whitesmoke;
 font-style: italic;
  font-size: small;
}
.mark{
  color:gold;
  background: none;
}