.Posts {
  background: #000219;
  color: gold;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: large;
  border: 1px solid silver;
  display: grid;
  border-radius: 5px;
  cursor:default;
}

.fieldset {
  display: flex;
  width: auto;
  background-color: rgb(255, 255, 255, 0.4);
  color: gold;
  border: 1px solid silver;
  font-size: large;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin: 3px;
}

.legend {
  display: flex;
  width: auto;
  font-size: 10px;
  color: silver;
  margin-right: 20px;

  
}
.image{
 display: grid;
 width: 40px;
 height: 40px;
 color: silver;
 margin: -10px auto auto -2px;
}
.bodyPost {
  width: auto;
  align-items: center;
  font-size: 14px;
  border-radius: 5px;
  display: flex;
  margin:auto auto 0px -120px;
}
.input {
  font-size: 14px;
  align-items: flex-end;
  color: silver;
  border: 1px solid cyan;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 200px;
  height: 20px;
  margin-right: 5px;
  margin-left: auto;
  background-color: inherit;
  
}
input:focus {
  background-color: none;
  outline: none;
}
input::placeholder {
  color: silver;
}
.select {
  display: inline-grid;
  background-color: rgb(255, 255, 255, 0.4);
  font-size: 14px;
  width: 105px;
  height: 30px;
  border: 1px solid rgb(81, 0, 128);
  border-radius: 5px;
  margin: 1px 2px 1px auto;
}
.select option{
  background-color:lightgrey;
}
.select:hover{
  color:#3b0054
}
.buttonAdd {
  align-items: grid;
  font-size: 14px;
  background-color: rgb(255, 255, 255, 0.4);
  width: 105px;
  height: 30px;
  border: 1px solid green;
  border-radius: 5px;
  margin: auto 2px 1px auto;
}
.buttonAdd:hover{
  cursor:default;
  color:green;
}
.buttonRem {
  display:grid;
  align-items: flex-end;
  background: none;
  font-size: 12px;
  color: silver;
  border:none;
  border-radius: 5px;
  margin: auto 3px 3px auto;
  padding: unset;
}
.buttonRem:hover{
  cursor:default;
  color:red;
}
.title {
  display: grid;
  color: 	#3b0054;
  font-size: 22px;
  margin-left: 25px;
}

.task {
  display: inline-flex;
  width: auto;
  height: 100px;
  cursor:default;
}
.noTasks{
  font-size: 22px;
}
.messageTotally{
  color: whitesmoke;
 font-style: italic;
  font-size: medium;
  cursor:default;
}
.mark{
  color:gold;
  background: none;
}

