.posts {
  color: silver;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.2em;
  border: 1px solid silver;
  display: grid;
  border-radius: 5px;
}

.task {
  display: inline-flex;
  margin: 0px;
  padding: 0px;
}

.colorPicker {
  color: black;
  width: 300px;
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(192, 192, 192);
  margin: auto;
  text-align: center;
  align-items: center;
  padding: 0;
  position: absolute;
  top: 300px;
  left: 10px;
  margin: 0;
  z-index: 9;
}

.fieldset {
  display: flex;
  color: silver;
  background-color: rgb(255, 255, 255, 0.4);
  border: 1px solid silver;
  border-radius: 5px;
  height: 70px;
  width: auto;
  font-size: medium;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.legend {
  font-size: xx-small;
  color: silver;
  margin-right: 10px;
}

.title {
  align-self: center;
  color: #152238;
  font-size: 20px;
  margin: -45px auto auto 50px;
  position: fixed;
}

.image {
  align-self: flex-start;
  width: 40px;
  height: 40px;
  color: inherit;
  margin: -12px auto auto -5px;
}

.bodyPost {
  align-self: flex-start;
  font-family: "Orbitron", sans-serif;
  font-size: 12px;
  border-radius: 5px;
  margin: 35px auto auto -50px;
  color: initial;
  color: greenyellow;
  text-transform: capitalize;
}

.input {
  align-self: flex-end;
  font-family: "Orbitron", sans-serif;
  font-size: 14px;
  color: silver;
  border: 1px solid cyan;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 230px;
  height: 20px;
  margin-right: 5px;
  margin-left: auto;
  background-color: transparent;
}

input:focus {
  background-color: none;
  outline: none;
}

input::placeholder {
  color: silver;
}

.select,
.buttonAdd {
  align-self: flex-end;
  background-color: rgb(255, 255, 255, 0.4);
  width: 102px;
  height: 28px;
  border: 1px solid silver;
  border-radius: 5px;
}
.select {
  margin: 1px 2px 1px auto;
  padding: 5px;
}

.select option {
  background-color: lightgrey;
}

.buttonAdd {
  margin: auto 2px 1px auto;
}

.btnGrid {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.buttonGlobe,
.buttonRem,
.buttonEdit {
  align-items: flex-end;
  background: none;
  font-size: 12px;
  color: silver;
  border: none;
  border-radius: 5px;
  margin: auto -3px -5px auto;
  padding: unset;
}

.buttonGlobe:hover,
.buttonEdit:hover,
.buttonAdd:hover {
  cursor: default;
  color: lightgreen;
}

.buttonRem:hover {
  cursor: default;
  color: lightcoral;
}

.messageTotally {
  align-self: center;
  color: silver;
}

.mark {
  color: goldenrod;
  background: none;
}
