.posts {
  /* background-color: #537895; */
  background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
  color: silver;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.2em;
  border: 1px solid silver;
  display: grid;
  border-radius: 5px;
}
.task {
  display: inline-flex;
  margin: 0px;
  padding: 0px;
}
.colorPicker {
  color: black;
  width: 300px;
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
  background-color:rgb(192,192,192);
  margin: auto;
  text-align: center;
  align-items: center;
  padding: 0;
  position: absolute;
  top:300px;
  left:10px;
  margin: 0;
  z-index: 9;
}



.fieldset {
  display: flex;
  color:silver;
  background-color: rgb(255, 255, 255, 0.4);
  border: 1px solid silver;
  border-radius: 5px;
  height: 70px;
  width: auto;
  font-size: medium;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}
.legend {
  font-size:xx-small;
  color: silver;
  margin-right: 10px;
}
.title {
  align-self: center;
  color: #152238;
  font-size: 20px;
  margin: -35px auto auto 60px ;
  position: fixed;
}
.image {
  align-self: flex-start;
  width: 40px;
  height: 40px;
  color: inherit;
  margin: -12px auto auto -5px;
}
.bodyPost {
  align-self: flex-start;
  font-family: 'Orbitron', sans-serif;
  font-size: 14px;
  border-radius: 5px;
  margin: 35px auto auto -50px;
  color: initial;
  color: greenyellow;
}
.input {
  align-self: flex-end;
  font-family: 'Orbitron', sans-serif;
  font-size: 14px;
  color: silver;
  border: 1px solid cyan;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 230px;
  height: 20px;
  margin-right: 5px;
  margin-left: auto;
  background-color: transparent;
}
input:focus {
  background-color: none;
  outline: none;
}
input::placeholder {
  color: silver;
}

.select {
  align-self: flex-end;
  background-color: rgb(255, 255, 255, 0.4);
  width: 90px;
  height: 30px;
  border: 1px solid silver;
  border-radius: 5px;
  margin: 1px 2px 1px auto;
  padding: 5px;
}
.select option {
  background-color: lightgrey;
}

.buttonAdd {
  align-self: flex-end;
  background-color: rgb(255, 255, 255, 0.4);
  width: 90px;
  height: 30px;
  border: 1px solid silver;
  border-radius: 5px;
  margin: auto 2px 1px auto;
}
.buttonAdd:hover {
  cursor: default;
  color: lightgreen;
}

.buttonRem {
  align-items: flex-end;
  background: none;
  font-size: 12px;
  color: silver;
  border: none;
  border-radius: 5px;
  margin: auto -4px -5px auto;
  padding: unset;
}
.buttonRem:hover {
  cursor: default;
  color: red;
}


.messageTotally {
  align-self: center;
  color: silver;
}
.mark {
  color: goldenrod;
  background: none;

}

