.settings {
  display: inline-grid;
  color: black;
  width: 200px;
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgba(192, 192, 192, 0.9);
  margin: auto;
  text-align: center;
  align-items: center;
  padding: 0;
  position: absolute;
  top: 250px;
  right: 0px;
  left: 10px;
  margin: 0;
}
