.signUp {
  color: white;
  width: 298px;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  background-color: #8562c5;
  text-align: center;
  align-items: center;
  padding: 2px;
  position: fixed;
}

.titleSignUp {
  margin-top: 0px;
}

.signUpBtn {
  color: white;
  background: none;
  border: 1px solid burlywood;
  border-radius: 5px;
  margin: 0px auto 2px 222px;
  padding: 5px;
  width: 70px;
}

.signUpBtn:hover {
  color: violet;
}

.signUpInput {
  align-self: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 12px;
  margin: 1px  1px 1px auto;
  padding: 4px;
  color: white;
  border: 1px solid burlywood;
  border-radius: 25px;
  width: 200px;
  height: 20px;
  background-color: inherit;
}

.signUpInput:focus {
  background-color: none;
  outline: none;
}