.userInfo {
  color: black;
  width: 200px;
  height: 180px;
  border: 1px solid white;
  border-radius: 6px;
  background-color: rgb(255, 255, 255, 0.4);
  text-align: center;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 20px;
  font-size: medium;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  z-index: 10;
}

.imageInfo {
  display: flex;
  width: 40px;
  height:auto;
  margin: -9px auto auto 1px;
  filter: drop-shadow(4px 4px 2px lightblue);
}

.user {
  text-decoration: underline;
  margin-top:-30px;
}
