.userInfo {
  color: black;
  width: 250px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: rgb(192, 192, 192);
  text-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 420px;
  left: 10px;
  z-index: 9;
}

.imageInfo {
  display: flex;
  width: 40px;
  height:auto;
  margin: -9px auto auto 1px;
  filter: drop-shadow(10px 5px 2px lightblue);
}

.user {
  text-decoration: underline;
  margin: 0px;
}
