.container {
  background-color: lightgrey;
  border: 1px solid violet;
  margin: 1px;
  width: auto;
  padding: 0;
}

@media(max-width: 959px) {
  .container {
    background-color: none;
    border: none;

  }

}

.login {
  color: white;
  width: 320px;
  min-height: 630px;
  border: 1px solid violet;
  border-radius: 5px;
  background-color: #1d925d;
  margin: 1px auto;
  padding: 0;
  text-align: center;
  align-items: center;
  justify-content: center;

}

.titleLogin {
  font-size: 38px;
  letter-spacing: 2px;
  margin-top: -25px;
}

.titleLogin::before {
  content: 'Digital';
  display: inline-block;
  animation: flick 3s ease-in-out infinite;
}

.titleMsg {
  margin-top: inherit;
}

@keyframes flick {
0% {opacity: 0.4}
5% {opacity: 0.5}
10% { opacity: 0.6}
15% {opacity: 0.85}
25% { opacity: 0.5}
30% {opacity: 1}
35% { opacity: 0.1}
40% {opacity: 0.25}
45% {opacity: 0.5}
60% {opacity: 1}
70% {opacity: 0.85}
80% {opacity: 0.4}
90% {opacity: 0.5}
100% {opacity: 1}
}


.noAccountMsg {
  margin-top: 0px;
}

.loginBtn {
  color: white;
  background: none;
  border: 1px solid violet;
  border-radius: 5px;
  margin: 10px auto auto 220px;
  padding: 5px;
  width: 70px;
}

.loginBtn:hover {
  color: burlywood;
}

.inputLogin {
  align-self: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 12px;
  margin: 2px auto;
  padding: 4px 8px;
  color: white;
  border: 1px solid violet;
  border-radius: 25px;
  width: 200px;
  height: 20px;
  background-color: inherit;
}

input:focus {
  background-color: none;
  outline: none;
}

.loginBottomMsg {
  margin-top: -10px;
  color: whitesmoke;
}

.item-enter {
  opacity: 0.7;
  filter: blur(4px);

}

.item-enter-active {
  opacity: 1;
  transition: all 1000ms ease-in-out;
}

.item-exit {
  opacity: 0.6;
  filter: blur(4px);
}

.item-exit-active {
  opacity: 0;
  transition: all 1000ms ease-in-out;
}