
.titleLogin{
  font-size: 38px;
}
.welcomeMsg{
  margin-top: 20px;
}
.login {
  color:white;
  width: 310px;
  height: 640px;
  border: 1px solid black;
  border-radius: 5px;
  background-color:  #71C562;
  box-shadow: 3px 3px 1px 1px rgba(0, 0, 255, .2);
  margin: auto;
  text-align: center;
  align-items: center;
  padding: 0;
}

.loginBtn{
  background: none;
  border: 1px solid #B662C5;
  border-radius: 5px;
  margin: 10px auto auto 230px;
  padding: 5px;
}
.inputLogin{
  font-size: 14px;
  margin-top: 10px;
  color: white;
  border: 1px solid #B662C5;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 200px;
  height: 20px;
  background-color: inherit;
}
input:focus {
  background-color: none;
  outline: none;
}

.loginBottomMsg {
  color :black;
}
.item-enter {
  transform:translateX(-150px);
  filter: blur(4px);

}
.item-enter-active {
  transform:translateX(50px);
  transition: all 1000ms ease-in-out;
}
.item-exit {
  opacity: 1;
  filter: blur(4px);
}
.item-exit-active {
  transform:translateX(-350px);
  transition: all 1000ms ease-in-out;
}