.titleLogin {
  font-size: 38px;
  letter-spacing:2px;
}
.titleLogin::before{ 
  content: 'Digital';
  display: inline-block;
  animation: flick 3s ease-in-out infinite ;
}



@keyframes flick{
  0% {
    opacity: 0.4;
  }
  5% {
    opacity: 0.5;
  }
  10% {
    opacity: 0.6;
  }
  15% {
    opacity: 0.85;
  }
  25% {
    opacity: 0.5;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.25;
  }
  45% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.85;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.login {
  color: white;
  width: 316px;
  height: 620px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #1D936E;
  margin: -10px auto;
  padding: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.loginBtn {
  background: none;
  border: 1px solid #B662C5;
  border-radius: 5px;
  margin: 10px auto auto 230px;
  padding: 5px;
}

.inputLogin {
  font-family: 'Orbitron', sans-serif;
  font-size: 12px;
  margin-top: 10px;
  color: white;
  border: 1px solid #B662C5;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 200px;
  height: 20px;
  background-color: inherit;
}

input:focus {
  background-color: none;
  outline: none;
}

.loginBottomMsg {
  color: black;
}

.item-enter {
  transform: translateX(-150px);
  filter: blur(4px);

}

.item-enter-active {
  transform: translateX(150px);
  transition: all 1000ms ease-in-out;
}

.item-exit {
  transform: translateX(0px);
  filter: blur(4px);
}

.item-exit-active {
  transform: translateX(-350px);
  transition: all 1000ms ease-in-out;
}